body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid black;
}

.container {
  width: 90%;
  margin: 10px auto;
  /*padding: 10px 0;*/
  /*border: 1px solid black;*/
}

.page-header {
  text-align: justify;
}

.header-text {
  font-weight: bold;
}

.sign-in {
  float: left;
  /*border: 1px solid black;*/
  margin-top: 15px;
  padding: 0;
}

.main-title {
  float: left;
  color: #f97242;
  text-align: center;
  /*border: 1px solid black;*/
}

.main-title h1 {
  padding; 0;
  margin: 0;
}

.bag {
  float: right;
  /*border: 1px solid black;*/
  text-align: right;
  margin-top: 15px;
  padding: 0;
}

.banner {
  width: auto;
  height: 300px;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://img.trycaviar.com/x7pgux2UGo3J3wY_QrD3lITEmnk=/1680x1120/https://s3.amazonaws.com/trycaviar.com/offers/151/9049.jpg") no-repeat center;
  background-size: cover;
  text-align: left;

}

.banner-text {
  display: block;
  position: absolute;
  padding: 10px;
  top: 40%;
  left: 15%;
  width: auto;
  /*border: 1px solid black;*/
}

.banner-text  h3, h4 {
  color: white;
  padding: 0;
  margin: 0;
}

.banner p {
  color: #f97242;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.under-banner {
  width: 90%;
  margin: 0 auto;
  /*height: 100px;*/
  /*border: 1px solid black;*/
}

.delivery {
  float: left;
  margin-top: 20px;
  text-align: left;
  padding: 0;
  /*border: 1px solid black;*/
}

.time, .hours {
  color: #f97242;
}

.group-order {
  float: right;
  margin-top: 30px;
  padding: 0;
  /*border: 1px solid red;*/
}

.two-people {
  background-color: white;
  background-image: url('images/two-people.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 5px;
  float: right;
}

.orders-over {
  margin: 0 auto;
  width: 90%;
  /*padding: 20px;*/
  color: #39b238;
  font-size: 18px;
}

.menu-title {
  text-align: left;
  width: 90%;
  margin: 15px;
  color: grey;
}

.item {
  /*height: 300px;*/
  height: auto;
}

.dish-title {
  text-align: left;
  font-weight: bold;
}

.description {
  text-align: left;
}

.price {
  color: #f97242;
  text-align: left;
}

/*****************************************
            HOVER EFFECT
******************************************/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f7851d;
}

.item:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*****************************************
            MODALS
******************************************/

  /*AVAILABLE HOURS MODAL */

/******************************************/

.modal-body {
  padding: 0;
}

.hours-subtitle {
  display: block;
  color: #39b238;
  font-weight: 400;
  overflow: hidden;
}

  /*DISH ITEM MODAL */

/******************************************/

.modal-content {
  padding: 0 10px 20px;
}

.modal-header {
  padding: 0;
}

.modal-img {
  width: 100%;
}

.modal-item-name, .modal-item-desc {
  text-align: left;
  padding-bottom: 10px;
  color: black;
}

.modal-item-legend {
  font-size: 15px;
}

.item-substitutions, .instructions {
  text-align: left;
}

.radio input[type=radio] {
  margin: 0;
}

.instructions textarea {
  padding: 5px;
}

textarea {
  height: auto;
  width: 100px;
}
.modal-dialog {
  width: 35%;
  height: 100%;
}

.item-summary {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.item-quantity {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #f97242;
  border-radius: 40px;
  flex: 0 1 auto;
  height: 40px;
  padding: 15px;
  position: relative;
  width: 132px;
}

button.item_quantity_input-stepper.item_quantity_input-stepper {
  background-color: white;
  border: none;
}

.glyphicon {
  color: #f97242;
}

.item-footer {
  padding: 0 30px;
}

.item-price {
  font-size: 18px;
  flex: 1;
  font-weight: 700;
  display: inline;
  text-align: right;
}

.modal-add-to-cart {
  margin-top: 20px;
  padding: 5px;
  background-color: #f97242;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 18px;
}

/************************************************************/
/*FOOTER*/
/************************************************************/

footer {
  margin: 0 auto;
  background-color: #34495E;
  color: white;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 0 0;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-left-panel {
  float: left;
  border: 1px solid red;
}
.left-panel-text {
  margin-bottom: 10px;
}

/*.footer-middle-panel {
  float: left;
  border: 1px solid red;
}*/

.order-form {
  text-align: center;
}
phone-field {
  background-color: white;
  height: 50px;
  margin: 0 20px;
  display: inline-block;
}

.btn btn-default {
  background-color: #34495E;
}

.btn {
  margin-right: 10px;
}

.middle-panel-title {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.middle-panel-text {
  text-align: left;
  margin: 10px 25px;
}

/*.footer-right-panel {
  float: right;
  border: 1px solid red;
}*/

.btn-group {
  display: block;
}
.footer-right-panel ul {
  padding: 0;
}

.footer-right-panel li {
  display: inline-block;
  background-color: #5D6D7E;
  padding: 10px;;
  margin: 2px;
  list-style: none;
  text-align: left;
  width: 290px;
}

.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 5px solid;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  color: white;
}
.footer-links {
  clear: both;
  width: 100%;
  margin: 10px auto;
}

.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.copyright {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.bottom-logo {
  padding: 20px 0;
}

@media (max-width: 991px) {
  .modal-dialog {
    width: 370px;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .delivery {
    margin-top: 20px;
    text-align: center;
    padding: 0;
    /*border: 1px solid black;*/
  }

  .group-order {
    margin: 20px 80px;
    padding: 0;
    /*border: 1px solid black;*/
  }

  .modal-dialog {
    width: 370px;
    height: 100%;
  }

}
